{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block username %} <a href="/{{username}}">{{username}}</a> {% endblock %}

{% block main %}

<div class="loginform">
    <form method="post" class="loginsignin">
        <p class="htext">Войти в аккаунт</p>
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="password" id="" placeholder="password">
        <input type="submit" value="Log in">
        <p>Ещё нет аккаунта? <a href="/signin">Зарегистрироваться</a></p>
    </form>
</div>

{% endblock %}