{% extends "base.html" %}

{% block title %}{{thread}}{% endblock %}

{% block username %}<a href="/user/{{username}}">{{username}}</a>{% endblock %}

{% block main %}

<h1 class="threadname">{{thread}}</h1>
<p class="thread_date">{{ date }}</p>

<a href="/threads" style="color: white; text-decoration: none;"> <-- Назад</a>

{% for message in messages %}
    {% if current_user.name == message['name'] %}
        <div class="messbl", style="background-color:rgb(1, 94, 1);">
            <a href="/user/{{message['name']}}" >    {{message['name']}}</a>
            <p class="messbltxt" style="color: white; text-decoration: none; font-size: 21px; background-color: rgb(1, 46, 1); overflow-x: scroll;">{{message['text']}}</p>
            {% if message['media']%}
                {% if message['media'] == 'image' %}
                    <img src="/static/media/{{message['media-filename']}}" alt="", width="250px" onclick = "makebigger(this);">
                {% elif message['media'] == 'audio' %}
                    <audio controls src="/static/media/{{message['media-filename']}}"></audio>
                
                {% else %}
                <video width="250px" controls onclick = "makebigger(this);">
                    <source src="/static/media/{{message['media-filename']}}" type="video/{{message['media-filename'].split('.')[1]}}">
                </video>
                {% endif %}
            {% endif %}
            <p class="messbldat" style="text-align: right; background-color: rgb(1, 94, 1); margin-right: 20px;">{{message['date']}}</p>
            <a href="/deletemypost/{{thread}}/{{message['id']}}" style="text-align: right; background-color: rgb(1, 94, 1); color: aliceblue; text-decoration: none; margin-right: 20px;">Удалить</a>
        </div>
    {% else %}
        <div class="messbl" style="background-color: #333333;">
            <a href="/user/{{message['name']}}" >    {{message['name']}}</a>
            <p class="messbltxt" style="color: white; text-decoration: none; font-size: 21px; background-color: #111111; overflow-x: scroll;">{{message['text']}}</p>
            <p class="messbldat" style="text-align: right;">{{message['date']}}</p>
            {% if message['media']%}
                {% if message['media'] == 'image' %}
                    <img src="/static/media/{{message['media-filename']}}" alt="", width="250px" onclick="makebigger(this);">
                {% elif message['media'] == 'audio' %}
                    <audio controls src="/static/media/{{message['media-filename']}}"></audio>
                
                {% else %}
                <video width="250px" controls>
                    <source src="/static/media/{{message['media-filename']}}" type="video/{{message['media-filename'].split('.')[1]}}">
                </video>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<div class="writemsg">
    
    <input type="file" name="file" id="file">
    <input type="text" name="" placeholder="Сообщение" class="message" autocomplete="no">
    <button type="submit" id="send" class="send" onclick="send()">отправить</button>
    
    
</div>

<script src="/static/imagebigger.js"></script>

<script>
    
    


    function send(){
        let message = document.querySelector(".message");
        let name = document.querySelector('.username').textContent;
        let file = document.querySelector('#file');
        let threadname = document.querySelector('.threadname').textContent
        let emptyFile = document.createElement('input');
        emptyFile.type = 'file';

        const url = '/newmessage';
        const xhr = new XMLHttpRequest();
        const formData = new FormData();

	    formData.append('message', message.value);
        formData.append('name', name);
        if(file.files[0] != undefined){
            formData.append('file', file.files[0]); 
        }
        formData.append('tfile',(file.files[0] != undefined))
        formData.append('threadname', threadname);

	    xhr.open('POST', url, true);
	    xhr.send(formData);

        
        message.value = '';
        file.files = emptyFile.files;
    }


    document.addEventListener('DOMContentLoaded', function() {
    // Функция для имитации клика по кнопке
    function triggerButtonClick(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Предотвращаем стандартное поведение Enter
            document.getElementById('send').click(); // Имитируем клик по кнопке
        }
    }

    // Добавляем обработчик события keydown к телу документа
    document.addEventListener('keydown', triggerButtonClick);
    });
</script>

{% endblock %}